#parses the url and passes it throught to the get super global.
#multiviews allows calling pages, for example index.
Options -MultiViews
RewriteEngine On

#allows rewriting the base for things like index.php.
# Use the deployed base path. Change this to match your server folder
# (e.g. 'php-mvc' vs 'php/mvc').
#php-mvc is used for the live url.
RewriteBase /php-mvc/public


#directory checking.
RewriteCond %{REQUEST_FILENAME} !-d
#error, file checking.
RewriteCond %{REQUEST_FILENAME} !-f
#use rewrite rule to take current url and pass ie through to index.php as query string.
#note we are using first paramater which is url.
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
